params {
    outdir        = "./01_bnear_blue"
    samples       = "sample_wgs.tsv"
    // Referência padrão (pode ser ajustada no run_pipeline.sh)
    ref           = "/orange/munoz/deandradesilvae/pangenome/pangenome_wgs/01_linear_blue/subgenome_blue.fasta"
    final_outdir  = "/orange/munoz/deandradesilvae/pangenome/pangenome_wgs/01_linear_blue/bam_files"
}

// --- CONTROLE DE CARGA (Adicionado Aqui) ---
executor {
    name = 'slurm'
    queueSize = 100        // Permite até 100 jobs rodando simultaneamente
    submitRateLimit = '10 sec' 
}


process {
    executor = 'slurm'
    clusterOptions = '--account=munoz --qos=munoz-b'
    beforeScript = 'module purge'
    
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 2

    // ALIGN: O BWA escala muito bem. Passamos de 6 para 12 CPUs.
    // Isso reduz o tempo de alinhamento pela metade.
    withName: ALIGN {
        module = 'bwa/0.7.17:samtools/1.20'
        cpus   = 12
        memory = { 40.GB * task.attempt } // Genomas de plantas precisam de RAM para o índice
        time   = '12h'
    }

    // PICARD: Agrupando os dois processos que usam o JAR
    withName: 'ADD_READ_GROUPS|MARK_DUPLICATES' {
        module = 'picard/2.25.5:samtools/1.20'
        cpus   = 4
        memory = { 48.GB * task.attempt }
        time   = '8h'
    }

    // MARK_DUPLICATES: Mantém o publishDir específico
    withName: MARK_DUPLICATES {
        publishDir = [
            path: { "${params.final_outdir}" },
            mode: 'copy',
            pattern: "*.bam*"
        ]
    }

    // INDIVIDUAL_CALL (bcftools mpileup): Aumentamos para 4 CPUs para agilizar o piping
    withName: INDIVIDUAL_CALL {
        module = 'bcftools/1.22'
        cpus   = 4
        memory = { 16.GB * task.attempt }
        time   = '10h'
    }

    // MERGE_AND_CALL: Aqui é onde o paralelismo por região brilha.
    // Como você tem 12 scaffolds, cada scaffold rodará com estes recursos:
    withName: MERGE_AND_CALL {
        module = 'bcftools/1.22'
        cpus   = 8
        memory = { 64.GB * task.attempt } // Merge de 56 amostras de WGS exige muita RAM
        time   = '24h'
    }

    // COVERAGE_QC (Mosdepth): É extremamente rápido, 4 CPUs são ideais.
    withName: COVERAGE_QC {
        module = 'mosdepth/0.3.1'
        cpus   = 4
        memory = '8 GB'
        time   = '4h'
    }

    // QC_BAM: Samtools stats e flagstat
    withName: QC_BAM {
        module = 'samtools/1.20'
        cpus   = 4
        memory = '8 GB'
        time   = '4h'
    }
}


// Relatórios de execução
trace {
    enabled = true
    file    = "pipeline_trace.txt"
    fields  = 'task_id,name,status,exit,realtime,%cpu,rss,vmem'
}

// Otimização de Espaço: Limpeza Automática
cleanup = true
