params {
    outdir       = "./results_set2"
    samples      = "samples_small_set2.tsv"
    // Referência padrão (pode ser ajustada no run_pipeline.sh)
    ref          = "./reference/subgenome_blue_sample.fa"
}

// --- CONTROLE DE CARGA (Adicionado Aqui) ---
executor {
    name = 'slurm'
    submitRateLimit = '1 sec' // Intervalo seguro de submissão
}

process {
    executor = 'slurm'
    clusterOptions = '--account=munoz --qos=munoz-b'
    
    // Limpa ambiente antes de carregar módulos
    beforeScript = 'module purge'
    
    // Tenta de novo se o job morrer (exit code 137 = Out of Memory, etc)
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2

    // --- Definição de Recursos e Módulos ---
    withName: TRIM {
        module = 'trimmomatic'
        cpus   = 2
        memory = { 8.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withName: ALIGN {
        module = 'bwa/0.7.17:samtools/1.20'
        cpus   = 6
        memory = { 10.GB * task.attempt } 
        time   = { 12.h * task.attempt }
    }
    withName: QC_BAM {
        module = 'samtools/1.20'
        cpus   = 2
        memory = '4 GB'
        time   = '2h'
    }
    withName: 
    withName: INDIVIDUAL_CALL {
        module = 'bcftools/1.22'
        cpus   = 2
        memory = '8 GB'
        time   = { 6.h * task.attempt }
    }
    withName: MERGE_AND_CALL {
        module = 'bcftools/1.22'
        cpus   = 5
        memory = { 32.GB * task.attempt }
        time   = { 24.h * task.attempt }
    }
}

// Relatórios de execução
trace {
    enabled = true
    file    = "pipeline_trace.txt"
    fields  = 'task_id,name,status,exit,realtime,%cpu,rss,vmem'
}
